.wrapper-navbar {
    background-color: #333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 10px 2px #d3d3d3;
    padding: 0.75em;
    margin-bottom: 0.5em;
}

.wrapper-navbar .navbar {
    display: flex;
    justify-content: flex-start;
    grid-gap: 1em;
    align-items: center;
    width: fit-content;
}
.wrapper-navbar .navbar .navbar__link {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}
.wrapper-navbar .navbar .navbar__link:hover {
    background-color: whitesmoke;
    color: #333;
    border-radius: 30px;
}
