* {
    --white-color: whitesmoke;
    --black-color: #333;

    --grey-color-lighter: #ddd;
    --grey-color: #999;
    --grey-color-darker: grey;

    --table-line-even: #d0d0d0;

    --green-color: forestgreen;
    --green-color-darker: #417e3c;

    --red-color: #B0413E;

    --orange-color: #e56b35;
    --orange-color-darker: #e56b35;

    --blue-color-lighter: #2f709a;
    --blue-color: #225f8b;
    --blue-color-darker: #104771;

    --shadow-color: lightgray;

    --border-radius-small: 2px;
    --border-radius-medium: 5px;
    --border-radius-large: 10px;
}

