{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_index') }}
    <style>
        .uploaded-transactions__form-container {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        .uploaded-transactions__form-container .transaction-form {
            flex-direction: row;
            padding: 1em;
            border: 1px solid darkgrey;
            border-radius: 10px;
            background-color: #e7e7e7;
        }
        .uploaded-transactions__form-container .transaction-form #transaction_amount {
            width: 100px;
        }
        .uploaded-transactions__form-container .transaction-form .help-text {
            display: none;
        }
        .uploaded-transactions__form-container .transaction-form .transaction-form-row:last-of-type {
            width: -webkit-fill-available;
            display: flex;
            justify-content: flex-end;
        }
        .uploaded-transactions__form-container .transaction-form .transaction-form-row #transaction_delete {
            background-color: red;
            color: whitesmoke;
        }
        .uploaded-transactions__form-container .transaction-form .transaction-form-row #transaction_save {
            width: 100%;
            margin: 0;
        }
    </style>
{% endblock stylesheets %}

{% block title %}Upload Transactions - {{ parent() }}{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Upload Transactions</h1>

    <h2>Upload your transactions file</h2>
    <p>Only for LCL Bank</p>
    <div class="upload-transaction-file__form-container">
        <p>Créer un formulaire pour choisir un mois et un file uploader</p>
    </div>

    <h2>Uploaded Transactions to check </h2>
    <div class="uploaded-transactions__form-container">
        {% for transactionForm in uploaded_transactions_form %}
            {# Créer plusieurs bloc de formulaire d'édition de chaque transaction #}
            {% include 'transaction/_form.html.twig' with {
                'transactionForm': transactionForm,
                'titleForm': false,
                'deleteButton': true
            } %}
        {% endfor %}
    </div>
</div>
{% endblock %}
