<div class="wrapper-navbar">
    <nav class="navbar">
        <a class="navbar__link" href="{{ path('dashboard_page') }}">Dashboard</a>
        <a class="navbar__link" href="{{ path('more_transactions_page') }}">More Transactions</a>
        <a class="navbar__link" href="{{ path('stats_expenses_page') }}">Stats Expenses</a>
        <a class="navbar__link" href="{{ path('creation_form_page') }}">U spent?</a>
    </nav>
</div>
