{% extends 'layout.html.twig' %}

{% block title %}Dashboard - Personal finance{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_index') }}
{% endblock stylesheets %}

{% block body %}
    <div class="wrapper">
        <div class="tables-view">
            {% include('transaction/_table.html.twig') with {
                'transactionFilterForm' : transactionFilterForm,
                'transactionTableTitle' : '💸 Lastest transactions',
                'seeMoreButtonActive'   : true,
                'urlResetFilter'        : path('dashboard_page'),
            } %}
            <hr class="wrapper__separator">
            {% include('month/_table.html.twig') %}
            <hr class="wrapper__separator">
            {% include('budget/_table.html.twig') %}
        </div>
    </div>
{% endblock %}
