{% extends 'layout.html.twig' %}

{% block title %}More Transactions - Personal finance{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_index') }}
{% endblock stylesheets %}

{% block body %}
    <div class="wrapper">
        {% include('transaction/_table.html.twig') with {
            'transactionFilterForm' : transactionFilterForm,
            'transactionTableTitle' : '💸 All your transactions',
            'seeMoreButtonActive'   : false,
            'urlResetFilter'        : path('more_transactions_page'),
        } %}
    </div>
{% endblock body %}
