{% extends 'layout.html.twig' %}

{% block title %}Stats Expenses - {{ parent() }}{% endblock %}

{% set theads = ['Name', 'Year', 'Balance', 'Total Earned', 'Total Spent'] %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_index') }}
{% endblock stylesheets %}

{% block body %}
    <div class="wrapper">
        {% include 'expense/_table-budget-month-expenses.html.twig' %}
        {% include 'expense/_table-evolution-expenses.html.twig' %}
    </div>
{% endblock body %}
