.budget-view__header,
.month-view__header,
.transaction-view__header {
    display: flex;
    justify-content: space-between;
}

.button-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 0.25em;
}

.container-transaction-table {
    height: 800px;
    overflow-y: scroll;
    padding: 1em;
}

/* Style de base pour le tableau */
.budget-table,
.month-table,
.transaction-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 2px 2px 10px var(--shadow-color);
    /* Style de l'en-tête du tableau */
    & th {
        background-color: var(--black-color);
        color: var(--white-color);
        font-weight: bold;
        padding: 0.5em 1em;
        text-align: center;
    }
    /* Style des cellules du tableau */
    & td {
        padding: 0.5em 1em;
        text-align: center;
    }
    /* Style des lignes paires du tableau */
    & tr:nth-child(even) {
        background-color: var(--table-line-even);
    }
    /* Style au survol d'une ligne */
    & tr:hover {
        background-color: var(--grey-color-lighter);
    }
}

.transaction-table {
    .transaction-type {
        padding: 0.25em 0.5em ;
        border-radius: 10px;
        text-align: center;
        color: var(--white-color);
    }
    .transaction-type--collected {
        background-color: var(--green-color);
    }
    .transaction-type--spent {
        background-color: var(--red-color);
    }

    & td {
        word-wrap: break-word;
    }
}

.budget-table-actions,
.month-table-actions,
.transaction-table-actions {
    width: 90px;
}

.budget-table-actions__link,
.month-table-actions__link,
.transaction-table-actions__link {
    color: #5b5b5b;
}

.budget-table-actions__link:last-child,
.month-table-actions__link:last-child,
.transaction-table-actions__link:last-child {
    padding-left: 0.5em;
}

.button-action {
    padding: 0.5em 1em;
    width: fit-content;
    border-radius: 5px;
    color: var(--white-color);
    text-decoration: none;
    box-shadow: 2px 2px 10px var(--shadow-color);
}

.button-action-refresh,
.button-action-filter {
    text-align: center;
    background-color: var(--blue-color);
    &:hover {
        background-color: var(--blue-color-darker);
    }
}

.button-action-add {
    background-color: var(--green-color);
    &:hover {
        background-color: var(--green-color-darker);
    }
}

.button-action-see-more {
    background-color: var(--orange-color);
    &:hover {
        background-color: var(--orange-color-darker);
    }
}

.tables-view {
    display: flex;
    flex-direction: column;
    grid-gap: 2em;
}

.transaction-view,
.month-view,
.budget-view {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    width: 100%;
}

table {
    border-radius: 5px;
    & thead tr:first-child {
        & th:first-child {
            border-top-left-radius: 5px;
        }
        & th:last-child {
            border-top-right-radius: 5px;
        }
    }
    & tbody tr:last-child {
        & td:first-child {
            border-bottom-left-radius: 5px;
        }
        & td:last-child {
            border-bottom-right-radius: 5px;
        }
    }
}

.budget-ratio,
.budget-amount {
    font-size: 0.8rem;
    color: var(--grey-color);
    font-weight: 400;
}

.budget-ratio.over {
    color: var(--red-color);
}
.budget-ratio.under {
    color: var(--green-color);
}

.info-month-table {
    font-size: 0.8rem;
    color: var(--grey-color);
}

.info {
    display: flex;
    flex-direction: column;
    grid-gap: 0.75em;
    vertical-align: bottom;
    margin-bottom: 1em;
}

.sum-budget-amounts {
    padding: 0.2em 0.5em;
    background-color: var(--grey-color);
    border-radius: 10px;
    color: var(--white-color);
}

.word-green {
    padding: 0.2em 0.5em;
    background-color: var(--green-color);
    border-radius: 10px;
    color: var(--white-color);
}
.word-red {
    color: var(--white-color);
    padding: 0.2em 0.5em;
    background-color: var(--red-color);
    border-radius: 10px;
}
.word-positive {
    color: var(--green-color);
}
.word-negative {
    color: var(--red-color);
}

.count-transactions {
    font-size: 0.9rem;
    color: var(--grey-color);
    font-weight: 400;
    vertical-align: super;
}

.no-evolution-expenses {
    padding: 0.5em;
    background-color: #333;
    color: var(--white-color);
    text-align: center;
    border-radius: 10px;
}
