{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_index') }}
{% endblock stylesheets %}

{% block body %}
    <div class="wrapper wrapper-edit-page">
        {% include 'transaction/_form.html.twig' with {'titleForm': '💸 Transaction edition form'} %}
    </div>
{% endblock body %}
